.App {
  text-align: center;
}

.well {
  width: 45%;
  height: 90%;
  margin: 1%;
}

.buttonRight {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 0.4%
}

.text{ 
  margin-left: 1%; 
  margin-bottom: 0.4%;
  font-size: 14px;
  width: 35%
  
}