.App {
  text-align: center;
}

.well {
  width: 45%;
  height: 90%;
  margin: 1%;
}

.buttonRight {
  float: right;
  display: flex;
}

.title {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 0.4%
}

.text{ 
  margin-left: 1%; 
  margin-bottom: 0.4%;
  font-size: 14px;
  width: 35%
}

.table {
  padding-top: 5%;
}

.buttonGroup {
  padding-top: 3%; 
}

.buttonSpacing {
  padding-left: 2px;
  padding-right: 2px;
}

.titleSpacing {
  padding-top: 5%; 
}

.medText {
  padding-top: 2%; 
  padding-bottom: 0.5%; 
}

.medTextNearTitle {
  padding-top: 1%; 
  padding-bottom: 0.5%; 
}

.textInWell {
  width: 92%;
}

.inputSize {
  width: 65%; 
}

.inputSpacing {
  padding-right: 9%;
}

.autocompleteSize {
  width: 120%;
}

.endPadding {
  padding-top: 5%;
  text-align: right;
}

.saveButton {
  margin-left: 4%; 
}
